header {
    width: 100vw;

    color: $white;
    font-family: $secondary;

    background: $dark-blue;

    position: fixed;
    z-index: 500;
}

header .logo {
    width: 10vw;
    font-size: 2.250em;

    float: left;
    margin-top: 15px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    .telephone {
        font-size: 0.75em;
    
        border: 1px solid $white;
        margin: 10px;
        padding: 8px 15px;
        line-height: 10px;
    
        display: flex;
        flex-direction: column;
    }
    a {
    width: 7vw;
    text-decoration: none;
    color: $white;
    }
}    