.main {
    width: 100vw;
    height: 650px;
    
    background: url('./assets/img/bg-home.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    color: $white;
    text-align: center;
    font-family: $primary;
    font-size: 2.250em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main a {
    text-decoration: none;
    color: $white;
    font-family: $secondary;

    border: 2px solid $white;
    padding: 28px 35px;

    transition: .5s;
    cursor: pointer;
}
.main h1 {
        padding: 50px 0 100px 0;
}
.main img {
    max-height: 120px;
}

.main a:hover {
    background: $white;
    color: $dark-blue;
    border: 2px solid $dark-blue;
}